<%- include("templates/head", {title: '404 :C'}) %>

<div class="text-center text-3xl font-bold my-4">
	<h1>404 | Recurso no encontrado</h1>
</div>

<div class="flex flex-col justify-center">
    <p class="text-center text-lg">Hemos encontrado un problema y el recurso no fue encontrado dentro de nuestra base de datos.</p>
	<a
		href="/"
		class="mt-5 text-center cursor-pointer hover:bg-red-600 p-2 bg-red-800 text-white rounded-lg"
		>Volver al inicio</a
	>
</div>

<%- include("templates/footer") %>
