<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<title>App Notes | <%= title %> </title>
	</head>
	<body>
		<div class="grid m-auto font-bahnscrift">
			<header class="grid grid-cols-1 md:grid-cols-3 bg-red-500">
				<h2 class="text-center md:text-left md:col-span-2 p-3 text-white font-bold text-xl">
					App notes
				</h2>
				<ul class="flex justify-center md:flex-column md:justify-end p-3 text-white w-full">
					<li>
						<a href="/"><i class="fas fa-home"></i> Inicio</a>
					</li>
					<li class="pl-3">
						<a href="#"><i class="fas fa-info-circle"></i> Conocer más</a>
					</li>
				</ul>
			</header>
			<main class="container m-auto">